Welcome! What is your name, friend?
<form method = "post" action = "/name">
      <input type = "hidden" name = "password" value = <%= pass%>>
      <input type = "text" name = "first_name">
      <input type = "text" name = "last_name">
  <input type = "submit">
</form>
